# Database Configuration
DB_NAME=todo_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5435

# Service Ports
TASK_SERVICE_PORT=8080

# Kafka Configuration
KAFKA_PORT=9092

# Telegram Configuration
# To get Telegram bot token:
# 1. Open Telegram and search for @BotFather
# 2. Send /newbot command
# 3. Follow instructions to create your bot
# 4. Copy the bot token

# To get Telegram chat ID:
# 1. Open Telegram and search for @userinfobot
# 2. Start a chat and send any message
# 3. Copy the ID shown (your chat ID)
TELEGRAM_BOT_TOKEN='8553285278:AAHTo84e8TdOK7sJFDWfVMG9II1a6xtjAeY'
TELEGRAM_CHAT_ID=807024759

# Logging
LOG_LEVEL=info
